body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;

  background: url("../images/farm-bg.jpg") no-repeat center center/cover;
  height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;
}

.dashboard {
  background: rgba(255, 255, 255, 0.9);
  width: 420px;
  padding: 30px;
  border-radius: 12px;
  box-shadow: 0 10px 25px rgba(0,0,0,0.3);
  text-align: center;
}

.dashboard h1 {
  color: #2e7d32;
  margin-bottom: 10px;
}

.dashboard p {
  color: #555;
  margin-bottom: 25px;
}

.card {
  background: #f1f8e9;
  padding: 15px;
  border-radius: 8px;
  margin-bottom: 12px;
  font-weight: bold;
}

.logout {
  display: block;
  margin-top: 20px;
  text-decoration: none;
  background: #c62828;
  color: white;
  padding: 10px;
  border-radius: 6px;
}

.logout:hover {
  background: #b71c1c;
}
